@import 'reset';

@mixin figure($name, $x, $y) {
    ##{$name} {
    position: absolute;
    top: #{$y}px;
    left: #{$x}px;
    background: center no-repeat url('../img/#{$name}.jpg');
    background-size: cover;
  }
}

$figureSize: 170px;
$mainX: 1;
$mainY: 1;
$primaryColor: #242261;
$arrowHead: 8px;


html {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

main {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  position: relative;
  border: 3px solid $primaryColor;
}

.figure {
  display: inline-block;
  height: $figureSize;
  width: $figureSize;
  max-width: 300px;
  margin: 10px;

  border: 7px solid $primaryColor;
  border-radius: $figureSize;
}

.arrow-body {
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: $primaryColor;
  top: 8px;
  left: 5px;
  z-index: 99;
}

.arrow-head {
  position: absolute;
  top: 2px;
  left: 3px;
  border-top: $arrowHead solid $primaryColor;
  border-left: $arrowHead solid $primaryColor;
  border-right: $arrowHead solid rgba(0,0,0,0);
  border-bottom: $arrowHead solid rgba(0,0,0,0);
  height: $arrowHead;
  width: $arrowHead;
  transform: rotate(-45deg);
}

.arrow {
  position: absolute;
  width: 108px;
  height: 25px;
  top: 100px;
  left: 20px;
  transform-origin: center;
}

.hide {
  display: none;
}

.help {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  font-size: 2rem;
  background: $primaryColor;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid $primaryColor;
  cursor: pointer;
  
}

.help:hover {
  border: 2px solid $primaryColor;
  background: #fff;
  color: $primaryColor;
}

@include figure(rock, 280, 10);

@include figure(paper, 500, 200);
@include figure(scissors, 60, 200);

@include figure(spock, 390, 450);
@include figure(lizard, 170, 450);

@include figure(comp, 280, 250);